<!DOCTYPE html>
<html lang="en">
<head>
    <title>isIFR?</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" >
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../../static/base.css">
    <%- styling %>
</head>
<body>
<div id="root"><%- reactApp %></div>
<script src="/index.js" charset="UTF-8"></script>
<script src="/vendor.js" charset="UTF-8"></script>
</body>
</html>
